apiVersion: v1
kind: Config
preferences: {}

clusters:
- cluster:
    certificate-authority-data: __CLUSTER_CA_DATA__
    server: __CLUSTER_SERVER__
  name: __CLUSTER_NAME__

users:
- name: __NAMESPACE__
  user:
    token: __TOKEN__

contexts:
- context:
    cluster: __CLUSTER_NAME__
    namespace: __NAMESPACE__
    user: __NAMESPACE__
  name: __NAMESPACE__

current-context: __NAMESPACE__
